cloud_id                 = "b1g3eujb842er38fng1i"
folder_id                = "b1g61dtt072cmmff90m4"
zone                     = "ru-central1-a"
image_id                 = "fd8b8lmb2n26393rhi01"
public_key_path          = "~/.ssh/id_rsa.pub"
private_key_path         = "~/.ssh/id_rsa"
subnet_id                = "e9bieggrnqiija9vls4o"
service_account_key_file = "key.json"
